<ion-header [translucent]="true">

  <ion-row>
    <ion-col size="2">
      <ion-button>menu</ion-button>
    </ion-col>
    <ion-col size="8" style="text-align: center;">Cantina da Bru</ion-col>
    <ion-col size="2"></ion-col>
  </ion-row>

  <ion-row style="text-align:center;">
    <ion-col>
      <ion-button><</ion-button>
    </ion-col>
    <ion-col>
      <ion-row>
        categorias
      </ion-row>
    </ion-col>
    <ion-col>
      <ion-button>></ion-button>
    </ion-col>
  </ion-row>

</ion-header>

<ion-content [fullscreen]="true">

<ion-row>
  <ion-col size="6" *ngFor="let produto of produtos; let ix = index" [hidden]="!produto.visibled">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-row>
        <ion-col>
          <span>nome</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          valor
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button>Detalhes</ion-button>>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  </ion-col>
</ion-row>

</ion-content>
